@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: var.$offWhite;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
    }

    &__logo {
        width: 115px;
        font-size: 1rem;
        color: var.$darkBlue;
        font-weight: var.$semiBold;

        span {
            color: var.$lightBlue;
        }
    }

    &__menu {
        cursor: pointer;
    }

    &__tabs {
        display: none;
        column-gap: 25px;

        .tab {
            font-weight: var.$regular;
            font-size: 1rem;
            color: var.$grey;

            &:hover {
                text-decoration: underline;
            }
        }

        .about_us_tab {
            color: var.$lightBlue;
            font-weight: var.$medium;
        }
    }

    .menu {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var.$white;
        width: 270px;
        height: 265px;
        border-radius: 30px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;


        .menu_tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 15px;

            .tab {
                font-size: 1rem;
                font-weight: var.$regular;
                color: var.$grey;
            }

            .about_us_tab {
                font-weight: var.$medium;
                color: var.$lightBlue;
            }
        }
    }

    .fade {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 800px;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    }

    .open {
        display: flex;
        opacity: 1;
    }

    .close {
        display: none;
        opacity: 0;
    }
}

@include mix.breakpoint(medium) {
    .header {
        height: 100px;
        
        .wrapper {
            max-width: 1440px;
            padding: 0px 185px;
        }

        &__logo {
            font-size: 24px;
            width: 185px;
        }

        &__menu {
            display: none;
        }

        &__tabs {
            display: flex;
        }

        .open {
            display: none;
        }
    }
}